<div class = "row">
 	<div class="col-sm-6 col-md-4">
  	<div class = "thumbnail">
  		<video width="300" height="340" controls src="<%= @video.video %>"/></video>
			<p align ="center">Uploaded by: <%= @video.video_uploaded_by.name%></p>
			<center>
				<% if @video.video_uploaded_by_id != @current_user.id%>
					<%= form_tag votes_vcreate_path(voted_by_id: @current_user.id,voteable_id: @video.id,voteable_type:"Video",competition_id: @competition.id),remote:true,method: :post do%>
					<%= submit_tag 'Vote'%>
					<% end%>
				<% end %>
			</center>
			<center>
				<%if admin or @video.video_uploaded_by_id == @current_user.id %>
					<%= link_to 'Leave competition now', competition_video_path,  method: :delete, data: { confirm: 'Are you sure?' } %>
				<%end%>
			</center>
		</div>
	</div>
</div>
