
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("dance.png", :alt =>"Sorry",size:"150px")%>
      <div class="caption">
        <h3 align="center">MovvvZ</h3>
        <p align= "center"><small> -organised by DID</small></p>
        <p>Stand out of crowd and get feautred in Beats upcoming video.</p>
        <p align = "center"><a href="/uploads/new" class="btn btn-primary" role="button">I can stand out of crowd!</a></p>
        <p align ="center"><small>  Days Hrs Min Sec</small></p>
        <p align="center">
        <%= countdown(Time.new(2018, 3, 8 )) %>
        </p>

      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("model.png", :alt =>"Sorry",size:"150px")%>
      <div class="caption">
        <h3 align="center">Want to be a diva?</h3>
        <p align= "center"><small> "Annual event of Midaas"</small></p>
        <p>Let the diva in you stand out,and get a chance to shine on Midaas cover.</p>
        <p align = "center"><a href="#" class="btn btn-primary" role="button">I have what it takes to be diva!</a></p>
         <p align ="center"><small>  Days Hrs Min Sec </small></p>
         <p align="center">
        <%= countdown(Time.new(2018, 3, 15 )) %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("pop.jpg", :alt =>"Sorry",size:"150px")%>
      <div class="caption">
        <h3 align="center">PhotoZ</h3>
        <p align= "center"><small> "Hosted annualy by MTV"</small></p>
        <p>Is your face photogenic and voice good enough to be feautred in a commercial?</p>
        <p align = "center"><a href="#" class="btn btn-primary" role="button">I've what it takes</a></p>
         <p align ="center"><small> Days Hrs Min Sec </small></p>
         <p align="center">
        <%= countdown(Time.new(2018, 3, 9 )) %>
        </p>
      </div>
    </div>
  </div>
</div>